<h3>Quản lý đơn hàng</h3>
<table class="table">
  <thead>
    <tr>
      <th>Mã đơn</th>
      <th>Họ tên</th>
      <th>SĐT</th>
      <th>Địa chỉ</th>
      <th>Kho lấy hàng</th>
      <th>Địa chỉ kho</th>
      <th>Trạng thái</th>
    </tr>
  </thead>
  <tbody>
    {{#each orders}}
      <tr>
        <td>
          <a href="/admin/donhang/{{this._id}}">{{this._id}}</a>
        </td>
        <td>{{this.name}}</td>
        <td>{{this.phone}}</td>
        <td>{{this.address}}</td>
        <td>{{#if this.warehouseId}}{{this.warehouseId.name}}{{else}}❌ Chưa xác định{{/if}}</td>
        <td>{{#if this.warehouseId}}{{this.warehouseId.address}}{{else}}❌ Chưa xác định{{/if}}</td>
        <td>{{this.status}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>