<div class="container mt-4">
  <h3 class="mb-4">Danh sách phiếu điều chuyển của Shipper</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Mã phiếu</th>
        <th>Kho nguồn</th>
        <th>Kho đích</th>
        <th>Trạng thái</th>
        <th>Hành động</th>
      </tr>
    </thead>
    <tbody>
      {{#each transfers}}
        <tr>
          <td>{{this.transferId}}</td>
          <td>{{this.sourceWarehouse.name}}</td>
          <td>{{this.destinationWarehouse.name}}</td>
          <td>{{this.status}}</td>
          <td>
            <a href="/admin/transfers/{{this._id}}" class="btn btn-info">Xem chi tiết</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>