<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand d-flex align-items-center" href="/">
    <img
      src="/IMG/logo.png"
      alt="logo"
      style="height: 30px; width: auto; margin-right: 10px;"
    />
    EXVN
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Trang chủ</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/cart/giohang">Giỏ hàng</a>
      </li>

      {{#if user}}
        {{#if (eq user.role "user")}}
          <li class="nav-item">
            <a class="nav-link" href="/donhang">Đơn hàng của tôi</a>
          </li>
        {{/if}}
        {{#if (eq user.role "shipper")}}
          <li class="nav-item">
            <a class="nav-link" href="/shipper/dang_sap_xep">Đơn hàng đang sắp
              xếp</a>
          </li>
          {{#if (eq user.role "shipper")}}
            <li class="nav-item">
              <a class="nav-link" href="/shipper/da-giao">Đơn hàng đã giao</a>
            </li>
          {{/if}}
          <li class="nav-item">
            <a class="nav-link" href="/shipper/dang_van_chuyen">Đơn hàng đang
              vận chuyển</a>
          </li>
        {{/if}}
        {{#if (eq user.role "admin")}}
          <li class="nav-item">
            <a class="nav-link" href="/admin/qldonhang">Quản lý đơn hàng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/quanlytaikhoan">Quản lý tài khoản</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/taotaikhoan">Tạo tài khoản</a>
          </li>

          <!-- 🚀 Thêm dropdown "Kho hàng" dành cho admin -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarKho"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              🏢 Kho hàng
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarKho">
              <a class="dropdown-item" href="/admin/kho/create">➕ Tạo kho mới</a>
              <a class="dropdown-item" href="/admin/kho/list">📜 Danh sách kho</a>
              <div class="dropdown-divider"></div>
              {{#each warehouses}}
                <a class="dropdown-item" href="/admin/kho/{{this._id}}">
                  {{this.name}}
                  -
                  {{this.address}}
                </a>
              {{/each}}
            </div>
          </li>

        {{/if}}
      {{/if}}

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Tài khoản
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {{#if user}}
            {{#if (eq user.role "user")}}
              <a class="dropdown-item" href="/auth/profile">Cập nhật thông tin</a>
            {{/if}}
            {{#if (eq user.role "admin")}}
              <a class="dropdown-item" href="/me/stored/sanpham">Quản lý sản
                phẩm</a>
              <a class="dropdown-item" href="/sanpham/create">Thêm sản phẩm</a>
              <a class="dropdown-item" href="/admin/nhaphang">Nhập hàng vào kho</a>
            {{/if}}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/auth/logout">Đăng xuất</a>
          {{else}}
            <a class="dropdown-item" href="/auth/login">Đăng nhập</a>
            <a class="dropdown-item" href="/auth/register">Đăng ký</a>
          {{/if}}
        </div>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Tìm kiếm sản phẩm"
      />
      <button
        class="btn btn-outline-success my-2 my-sm-0"
        type="submit"
      >Tìm</button>
    </form>

    {{#if user}}
      <span class="navbar-text text-white ml-3">
        Xin chào,
        {{user.username}}!
      </span>
    {{/if}}
  </div>
</nav>