<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>Mua ngay</button>
            <ul>
                <li>
                    {{sanpham.level}}
                </li>
            </ul>
        </div>

        <div class="col-lg-3">
           <h1>{{sanpham.name}}</h1>
           <p>{{sanpham.description}}</p>
<img class="card-img-top" src="{{image}}" alt="Ảnh minh họa",
 style="max-width: 400px;" />
<p>{{sanpham.price}}</p>
</p>
        </div>
    </div>
</div>