<div class="container mt-4">
  <h3 class="mb-4 text-success text-center"><i class="bi bi-check-circle"></i> Phi蘯ｿu ﾄ進盻「 Chuy盻ハ ﾄ静｣ Giao</h3>
  
  <div class="table-responsive shadow-sm rounded">
    <table class="table table-striped table-hover align-middle">
      <thead class="table-success">
        <tr>
          <th scope="col" style="width: 130px;">Mﾃ｣ phi蘯ｿu</th>
          <th scope="col">Kho ngu盻渡</th>
          <th scope="col">Kho ﾄ妥ｭch</th>
          <th scope="col">Ngﾃy t蘯｡o</th>
          <th scope="col">Ngﾃy hoﾃn thﾃnh</th>
          <th scope="col" style="width: 120px;">Tr蘯｡ng thﾃ｡i</th>
          <th scope="col" style="width: 100px;">Chi ti蘯ｿt</th>
        </tr>
      </thead>
      <tbody>
        {{#each transfers}}
        <tr>
          <td>
            <a href="/shipper/transfers/{{this._id}}" class="text-decoration-none">
              <small>{{this.transferId}}</small>
            </a>
          </td>
          <td><strong>{{this.sourceWarehouse.name}}</strong></td>
          <td><strong>{{this.destinationWarehouse.name}}</strong></td>
          <td>{{formatDate this.createdAt}}</td>
          <td>{{formatDate this.deliveredAt}}</td>
          <td>
            <span class="badge bg-success">{{this.status}}</span>
          </td>
          <td>
            <a href="/shipper/transfers/{{this._id}}" class="btn btn-sm btn-outline-success">
              沒 Chi ti蘯ｿt
            </a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{^transfers.length}}
      <p class="text-muted text-center fs-5 my-4">泅ｫ Chﾆｰa cﾃｳ phi蘯ｿu ﾄ訴盻「 chuy盻ハ nﾃo ﾄ妥｣ hoﾃn thﾃnh.</p>
    {{/transfers.length}}
  </div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">